<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loginsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginSystem"
        tools:targetApi="31">
        <activity
            android:name=".Feedback"
            android:exported="false" />
        <activity
            android:name=".News"
            android:exported="false" />
        <activity
            android:name=".GuidesAndTips"
            android:exported="false" />
        <activity
            android:name=".ReportCam"
            android:exported="false" />
        <activity
            android:name=".VaccineSchedule"
            android:exported="false" />
        <activity
            android:name=".PetProfilingForm"
            android:exported="false" /> <!-- Activities -->
        <activity android:name=".TestIntent" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.loginsystem.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pic_paths" />
        </provider>
    </application>

</manifest>